## 0. Pandas

In [ ]:
import pandas as pd

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

data download: https://drive.google.com/file/d/1yL7XUrJMM5w3HnYFSEVM7GUjvyfBqrue/view?usp=sharing

## 1 Creating Data

### 1.1 DataFrame
A DataFrame adalah sebuah tabel

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

Index dalam dataframe dapat diubah sesuai kebutuhan

In [ ]:
pd.DataFrame({'Gender': ['laki-laki', 'laki-laki'],
              'Umur': [36, 27]},
             index=['Mas Ainun', 'Mas Zul'])

              Gender  Umur
Mas Ainun  laki-laki    36
Mas Zul    laki-laki    27

### 1.2 Series
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [ ]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an `index` parameter. However, a Series does not have a column name, it only has one overall `name`:

In [ ]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## 2 Reading

Pandas mampu membaca banyak tipe file seperti `csv`, `excel`, `spss`, `sas`, sql

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [ ]:
pd.read_csv('/content/Sample.csv')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [ ]:
df = pd.read_csv('/content/Sample.csv', sep =',')

In [ ]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

## 3 Writing Data

Writing Data berfungsi menyimpan data kita (ekspor) kedala bentuk lain

In [ ]:
df.to_csv('output_1.csv',index=True)

## 4 Sampling

In [ ]:
# mengambil 5 data teratas
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [ ]:
# mengambil 5 data terbawah
df.tail(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,0.0,13.320
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.0,72.948

In [ ]:
# mengambil data secara acak
df.sample(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9367,9368,CA-2014-108147,6/8/2014,6/13/2014,Standard Class,RD-19480,Rick Duston,Consumer,United States,Long Beach,...,11561,East,OFF-ST-10003470,Office Supplies,Storage,"Tennsco Snap-Together Open Shelving Units, Sta...",1676.880,6,0.0,83.8440
7482,7483,CA-2014-113964,9/23/2014,9/30/2014,Standard Class,JP-16135,Julie Prescott,Home Office,United States,New York City,...,10011,East,OFF-BI-10004654,Office Supplies,Binders,Avery Binding System Hidden Tab Executive Styl...,18.464,4,0.2,6.9240
8580,8581,CA-2014-130673,5/20/2014,5/22/2014,Second Class,MC-17590,Matt Collister,Corporate,United States,San Marcos,...,78666,Central,FUR-FU-10003489,Furniture,Furnishings,Contemporary Borderless Frame,10.332,3,0.6,-5.9409
3393,3394,CA-2014-105340,11/22/2014,11/25/2014,First Class,EH-14185,Evan Henry,Consumer,United States,Pasadena,...,77506,Central,OFF-BI-10001765,Office Supplies,Binders,Wilson Jones Heavy-Duty Casebound Ring Binders...,6.928,1,0.8,-11.0848
54,55,CA-2016-105816,12/11/2016,12/17/2016,Standard Class,JM-15265,Janet Molinari,Corporate,United States,New York City,...,10024,East,TEC-PH-10002447,Technology,Phones,AT&T CL83451 4-Handset Telephone,1029.950,5,0.0,298.6855
188,189,CA-2016-157000,7/16/2016,7/22/2016,Standard Class,AM-10360,Alice McCarthy,Corporate,United States,Grand Prairie,...,75051,Central,OFF-PA-10001950,Office Supplies,Paper,Southworth 25% Cotton Antique Laid Paper & Env...,20.016,3,0.2,6.2550
1886,1887,CA-2014-140165,5/13/2014,5/15/2014,First Class,EH-14005,Erica Hernandez,Home Office,United States,Hialeah,...,33012,South,OFF-FA-10002815,Office Supplies,Fasteners,Staples,7.104,2,0.2,2.3976
5873,5874,CA-2017-133095,6/4/2017,6/4/2017,Same Day,EH-14005,Erica Hernandez,Home Office,United States,Jonesboro,...,72401,South,OFF-BI-10002353,Office Supplies,Binders,GBC VeloBind Cover Sets,108.080,7,0.0,54.0400
1464,1465,US-2016-104794,12/16/2016,12/19/2016,First Class,KD-16495,Keith Dawkins,Corporate,United States,New York City,...,10009,East,OFF-FA-10001754,Office Supplies,Fasteners,Stockwell Gold Paper Clips,3.680,2,0.0,1.8032
3081,3082,US-2017-132297,5/27/2017,6/2/2017,Standard Class,DW-13480,Dianna Wilson,Home Office,United States,Louisville,...,40214,South,OFF-BI-10003364,Office Supplies,Binders,Binding Machine Supplies,58.340,2,0.0,28.0032

## 5 Indexing

In [ ]:
#akses kolom
df.City

0             Henderson
1             Henderson
2           Los Angeles
3       Fort Lauderdale
4       Fort Lauderdale
             ...
9989              Miami
9990         Costa Mesa
9991         Costa Mesa
9992         Costa Mesa
9993        Westminster
Name: City, Length: 9994, dtype: object

In [ ]:
# alternatif
df[['City','State','Sales','Quantity']]

                 City       State     Sales  Quantity
0           Henderson    Kentucky  261.9600         2
1           Henderson    Kentucky  731.9400         3
2         Los Angeles  California   14.6200         2
3     Fort Lauderdale     Florida  957.5775         5
4     Fort Lauderdale     Florida   22.3680         2
...               ...         ...       ...       ...
9989            Miami     Florida   25.2480         3
9990       Costa Mesa  California   91.9600         2
9991       Costa Mesa  California  258.5760         2
9992       Costa Mesa  California   29.6000         4
9993      Westminster  California  243.1600         2

[9994 rows x 4 columns]

In [ ]:
#akses value
df['City'][5]

'Los Angeles'

### 5.1 iloc
`iloc`: **index-based selection**

In [ ]:
#akses row index 0
df.iloc[5]

Row ID                                                           6
Order ID                                            CA-2014-115812
Order Date                                                6/9/2014
Ship Date                                                6/14/2014
Ship Mode                                           Standard Class
Customer ID                                               BH-11710
Customer Name                                      Brosina Hoffman
Segment                                                   Consumer
Country                                              United States
City                                                   Los Angeles
State                                                   California
Postal Code                                                  90032
Region                                                        West
Product ID                                         FUR-FU-10001487
Category                                                 Furniture
Sub-Category                                           Furnishings
Product Name     Eldon Expressions Wood and Plastic Desk Access...
Sales                                                        48.86
Quantity                                                         7
Discount                                                       0.0
Profit                                                     14.1694
Name: 5, dtype: object

In [ ]:
#akses column index ke 9
df.iloc[:, 9]

0             Henderson
1             Henderson
2           Los Angeles
3       Fort Lauderdale
4       Fort Lauderdale
             ...
9989              Miami
9990         Costa Mesa
9991         Costa Mesa
9992         Costa Mesa
9993        Westminster
Name: City, Length: 9994, dtype: object

In [ ]:
df.iloc[:3, 9]

0      Henderson
1      Henderson
2    Los Angeles
Name: City, dtype: object

In [ ]:
df.iloc[[-10, 100, 1000], [6,9]]

         Customer Name        City
9984  Dianna Vittorini  Long Beach
100       Rick Bensley     Chicago
1000      Frank Merwin   Vancouver

### 5.2 loc
`loc` operator: **label-based selection**

In [ ]:
df.loc[:, ['City','Sales']]

                 City     Sales
0           Henderson  261.9600
1           Henderson  731.9400
2         Los Angeles   14.6200
3     Fort Lauderdale  957.5775
4     Fort Lauderdale   22.3680
...               ...       ...
9989            Miami   25.2480
9990       Costa Mesa   91.9600
9991       Costa Mesa  258.5760
9992       Costa Mesa   29.6000
9993      Westminster  243.1600

[9994 rows x 2 columns]

In [ ]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2])

In [ ]:
s

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [ ]:
s.loc[0]

'd'

In [ ]:
s.iloc[0]

'a'

![image.png]()

In [ ]:
df_index = df.set_index('Customer Name')
df_index.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Customer Name,,,,,,,,,,,,,,,,,,,,
Claire Gute,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
Claire Gute,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [ ]:
df_reset = df_index.reset_index()
df_reset.head(2)

,Customer Name,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,Claire Gute,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,Claire Gute,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

## 6 Selecting

In [ ]:
df['City'] == 'New York City'

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9991    False
9992    False
9993    False
Name: City, Length: 9994, dtype: bool

In [ ]:
df.loc[df['City']=='New York City']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
53,54,CA-2016-105816,12/11/2016,12/17/2016,Standard Class,JM-15265,Janet Molinari,Corporate,United States,New York City,...,10024,East,OFF-FA-10000304,Office Supplies,Fasteners,Advantus Push Pins,15.260,7,0.0,6.2566
54,55,CA-2016-105816,12/11/2016,12/17/2016,Standard Class,JM-15265,Janet Molinari,Corporate,United States,New York City,...,10024,East,TEC-PH-10002447,Technology,Phones,AT&T CL83451 4-Handset Telephone,1029.950,5,0.0,298.6855
70,71,CA-2016-106075,9/18/2016,9/23/2016,Standard Class,HM-14980,Henry MacAllister,Consumer,United States,New York City,...,10009,East,OFF-BI-10004654,Office Supplies,Binders,Avery Binding System Hidden Tab Executive Styl...,4.616,1,0.2,1.7310
96,97,CA-2017-161018,11/9/2017,11/11/2017,Second Class,PN-18775,Parhena Norris,Home Office,United States,New York City,...,10009,East,FUR-FU-10000629,Furniture,Furnishings,9-3/4 Diameter Round Wall Clock,96.530,7,0.0,40.5426
110,111,CA-2017-146780,12/25/2017,12/30/2017,Standard Class,CV-12805,Cynthia Voltz,Corporate,United States,New York City,...,10035,East,FUR-FU-10001934,Furniture,Furnishings,Magnifier Swing Arm Lamp,41.960,2,0.0,10.9096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9926,9927,CA-2015-159534,3/20/2015,3/23/2015,First Class,DH-13075,Dave Hallsten,Corporate,United States,New York City,...,10035,East,TEC-PH-10002310,Technology,Phones,Panasonic KX T7731-B Digital phone,199.980,2,0.0,53.9946
9927,9928,CA-2015-159534,3/20/2015,3/23/2015,First Class,DH-13075,Dave Hallsten,Corporate,United States,New York City,...,10035,East,OFF-ST-10001172,Office Supplies,Storage,"Tennsco Lockers, Sand",83.920,4,0.0,20.1408
9938,9939,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,FUR-FU-10004864,Furniture,Furnishings,Eldon 500 Class Desk Accessories,60.350,5,0.0,19.9155
9939,9940,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,OFF-SU-10000952,Office Supplies,Supplies,Fiskars Home & Office Scissors,35.520,4,0.0,9.9456
9940,9941,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,OFF-AR-10000462,Office Supplies,Art,Sanford Pocket Accent Highlighters,11.200,7,0.0,4.8160

In [ ]:
df[df['City'] == 'New York City']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
53,54,CA-2016-105816,12/11/2016,12/17/2016,Standard Class,JM-15265,Janet Molinari,Corporate,United States,New York City,...,10024,East,OFF-FA-10000304,Office Supplies,Fasteners,Advantus Push Pins,15.260,7,0.0,6.2566
54,55,CA-2016-105816,12/11/2016,12/17/2016,Standard Class,JM-15265,Janet Molinari,Corporate,United States,New York City,...,10024,East,TEC-PH-10002447,Technology,Phones,AT&T CL83451 4-Handset Telephone,1029.950,5,0.0,298.6855
70,71,CA-2016-106075,9/18/2016,9/23/2016,Standard Class,HM-14980,Henry MacAllister,Consumer,United States,New York City,...,10009,East,OFF-BI-10004654,Office Supplies,Binders,Avery Binding System Hidden Tab Executive Styl...,4.616,1,0.2,1.7310
96,97,CA-2017-161018,11/9/2017,11/11/2017,Second Class,PN-18775,Parhena Norris,Home Office,United States,New York City,...,10009,East,FUR-FU-10000629,Furniture,Furnishings,9-3/4 Diameter Round Wall Clock,96.530,7,0.0,40.5426
110,111,CA-2017-146780,12/25/2017,12/30/2017,Standard Class,CV-12805,Cynthia Voltz,Corporate,United States,New York City,...,10035,East,FUR-FU-10001934,Furniture,Furnishings,Magnifier Swing Arm Lamp,41.960,2,0.0,10.9096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9926,9927,CA-2015-159534,3/20/2015,3/23/2015,First Class,DH-13075,Dave Hallsten,Corporate,United States,New York City,...,10035,East,TEC-PH-10002310,Technology,Phones,Panasonic KX T7731-B Digital phone,199.980,2,0.0,53.9946
9927,9928,CA-2015-159534,3/20/2015,3/23/2015,First Class,DH-13075,Dave Hallsten,Corporate,United States,New York City,...,10035,East,OFF-ST-10001172,Office Supplies,Storage,"Tennsco Lockers, Sand",83.920,4,0.0,20.1408
9938,9939,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,FUR-FU-10004864,Furniture,Furnishings,Eldon 500 Class Desk Accessories,60.350,5,0.0,19.9155
9939,9940,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,OFF-SU-10000952,Office Supplies,Supplies,Fiskars Home & Office Scissors,35.520,4,0.0,9.9456
9940,9941,CA-2016-169824,12/12/2016,12/17/2016,Standard Class,NS-18640,Noel Staavos,Corporate,United States,New York City,...,10009,East,OFF-AR-10000462,Office Supplies,Art,Sanford Pocket Accent Highlighters,11.200,7,0.0,4.8160

In [ ]:
# df[df['City'] == 'New York City']
df[['City','Category','Customer Name']][(df['City'] == 'New York City') & (df['Category'] == 'Technology')]

               City    Category    Customer Name
54    New York City  Technology   Janet Molinari
190   New York City  Technology      Mark Packer
258   New York City  Technology   Craig Carreira
318   New York City  Technology     Nathan Mautz
319   New York City  Technology     Nathan Mautz
...             ...         ...              ...
9578  New York City  Technology     Roger Barcio
9631  New York City  Technology     Neoma Murray
9722  New York City  Technology       Jill Fjeld
9803  New York City  Technology  Pauline Johnson
9926  New York City  Technology    Dave Hallsten

[171 rows x 3 columns]

In [ ]:
df[['City','Sales']][(df['City'] == 'New York City') | (df['Sales'] >= 1000)]

               City     Sales
10      Los Angeles  1706.184
24             Orem  1044.630
27     Philadelphia  3083.430
35       Richardson  1097.544
53    New York City    15.260
...             ...       ...
9938  New York City    60.350
9939  New York City    35.520
9940  New York City    11.200
9947   Indianapolis  1925.880
9948   Indianapolis  2405.200

[1326 rows x 2 columns]

![image.png]()

## 7 Summary & Inspect

In [ ]:
# Summary statistics
pd.options.display.float_format = '{:,.2f}'.format
df.describe() # hati2 engga semua di summary kan ya

        Row ID  Postal Code     Sales  Quantity  Discount    Profit
count 9,994.00     9,994.00  9,994.00  9,994.00  9,994.00  9,994.00
mean  4,997.50    55,190.38    229.86      3.79      0.16     28.66
std   2,885.16    32,063.69    623.25      2.23      0.21    234.26
min       1.00     1,040.00      0.44      1.00      0.00 -6,599.98
25%   2,499.25    23,223.00     17.28      2.00      0.00      1.73
50%   4,997.50    56,430.50     54.49      3.00      0.20      8.67
75%   7,495.75    90,008.00    209.94      5.00      0.20     29.36
max   9,994.00    99,301.00 22,638.48     14.00      0.80  8,399.98

In [ ]:
df[['Sales','Quantity']].sum()

Sales      2,297,200.86
Quantity      37,873.00
dtype: float64

In [ ]:
#information
df.info() #method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [ ]:
# shape
df.shape #

(9994, 21)

In [ ]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
df['State']

0         Kentucky
1         Kentucky
2       California
3          Florida
4          Florida
           ...
9989       Florida
9990    California
9991    California
9992    California
9993    California
Name: State, Length: 9994, dtype: object

In [ ]:
df['State'].value_counts()

California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64

https://stackoverflow.com/questions/46312470/difference-between-methods-and-attributes-in-python

## 8 Map & Apply
Memetakan nilai Seri menurut pemetaan input atau fungsi.

In [ ]:
s = pd.Series(['cat', 'dog','rabbit'])
s

0       cat
1       dog
2    rabbit
dtype: object

In [ ]:
s.map({'cat': 'kitten', 'dog': 'puppy'})

0    kitten
1     puppy
2       NaN
dtype: object

In [ ]:
s.map('I am a {}'.format)

0       I am a cat
1       I am a dog
2    I am a rabbit
dtype: object

In [ ]:
df['Sales']

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64

In [ ]:
df['Sales'].mean()

229.85800083049833

In [ ]:
df['Sales'].map(lambda x: x - df['Sales'].mean())

0        32.101999
1       502.081999
2      -215.238001
3       727.719499
4      -207.490001
           ...
9989   -204.610001
9990   -137.898001
9991     28.717999
9992   -200.258001
9993     13.301999
Name: Sales, Length: 9994, dtype: float64

In [ ]:
df['Revenue'] =df.apply(lambda x : x['Sales']*x['Quantity'], axis=1)

In [ ]:
df[['Sales','Quantity','Revenue']]

         Sales  Quantity    Revenue
0     261.9600         2   523.9200
1     731.9400         3  2195.8200
2      14.6200         2    29.2400
3     957.5775         5  4787.8875
4      22.3680         2    44.7360
...        ...       ...        ...
9989   25.2480         3    75.7440
9990   91.9600         2   183.9200
9991  258.5760         2   517.1520
9992   29.6000         4   118.4000
9993  243.1600         2   486.3200

[9994 rows x 3 columns]

![image.png]()

## 9 Grouping

In [ ]:
df_group = df[['State','Category','Sales','Quantity']]

In [ ]:
df_group.groupby('State')['Sales'].sum()

State
Alabama                  19510.6400
Arizona                  35282.0010
Arkansas                 11678.1300
California              457687.6315
Colorado                 32108.1180
Connecticut              13384.3570
Delaware                 27451.0690
District of Columbia      2865.0200
Florida                  89473.7080
Georgia                  49095.8400
Idaho                     4382.4860
Illinois                 80166.1010
Indiana                  53555.3600
Iowa                      4579.7600
Kansas                    2914.3100
Kentucky                 36591.7500
Louisiana                 9217.0300
Maine                     1270.5300
Maryland                 23705.5230
Massachusetts            28634.4340
Michigan                 76269.6140
Minnesota                29863.1500
Mississippi              10771.3400
Missouri                 22205.1500
Montana                   5589.3520
Nebraska                  7464.9300
Nevada                   16729.1020
New Hampshire             7292.5240
New Jersey               35764.3120
New Mexico                4783.5220
New York                310876.2710
North Carolina           55603.1640
North Dakota               919.9100
Ohio                     78258.1360
Oklahoma                 19683.3900
Oregon                   17431.1500
Pennsylvania            116511.9140
Rhode Island             22627.9560
South Carolina            8481.7100
South Dakota              1315.5600
Tennessee                30661.8730
Texas                   170188.0458
Utah                     11220.0560
Vermont                   8929.3700
Virginia                 70636.7200
Washington              138641.2700
West Virginia             1209.8240
Wisconsin                32114.6100
Wyoming                   1603.1360
Name: Sales, dtype: float64

In [ ]:
df_group.groupby(['State','Category'])[['Sales','Quantity']].sum()

                                   Sales  Quantity
State         Category
Alabama       Furniture         6332.480        54
              Office Supplies   4209.080       149
              Technology        8969.080        53
Arizona       Furniture        13525.291       188
              Office Supplies  10005.825       501
...                                  ...       ...
West Virginia Office Supplies    536.480        15
Wisconsin     Furniture        17256.610       144
              Office Supplies   6059.840       215
              Technology        8798.160       104
Wyoming       Furniture         1603.136         4

[142 rows x 2 columns]

In [ ]:
df_group.groupby(['State','Category']).agg({'Sales':'sum','Quantity':'mean'})

                                   Sales  Quantity
State         Category
Alabama       Furniture         6332.480  4.909091
              Office Supplies   4209.080  4.138889
              Technology        8969.080  3.785714
Arizona       Furniture        13525.291  3.836735
              Office Supplies  10005.825  3.944882
...                                  ...       ...
West Virginia Office Supplies    536.480  5.000000
Wisconsin     Furniture        17256.610  4.500000
              Office Supplies   6059.840  4.056604
              Technology        8798.160  4.160000
Wyoming       Furniture         1603.136  4.000000

[142 rows x 2 columns]

## 10 Manipulating row and columns

### 10.1 Pivot

In [ ]:
pd.pivot_table(df,index='State', columns='Category', values='Sales')

Category                Furniture  Office Supplies   Technology
State
Alabama                575.680000       116.918889   640.648571
Arizona                276.026347        78.786024   244.810104
Arkansas               354.172222       126.814722   261.683333
California             351.496850       118.824664   443.652039
Colorado               259.667392        82.278667   313.323686
Connecticut            398.075923        93.419655   253.730000
Delaware               264.406611       140.164310   728.111000
District of Columbia   448.860000        23.086667  1379.920000
Florida                270.435741        85.234210   680.696174
Georgia                260.046250       232.311391   379.960811
Idaho                  432.580333        86.318727   209.374500
Illinois               229.874163        69.852302   380.758012
Indiana                499.856957       162.220619   907.698276
Iowa                   660.577500        35.597727   288.575000
Kansas                  55.560000       114.950000   169.808000
Kentucky               404.228000       138.305465   546.549565
Louisiana              269.366364       171.158000   257.349091
Maine                  109.480000        99.950000   253.750000
Maryland               326.759036       164.924286   297.574286
Massachusetts          330.880727       144.442651   301.401579
Michigan               446.422000       237.256346   352.712065
Minnesota              585.488462       303.227188   237.105000
Mississippi            479.761111       110.035152   256.575455
Missouri               266.950000       283.306512   590.543333
Montana                 63.980000       186.243800   915.733500
Nebraska               486.175000        85.941923   410.717500
Nevada                 515.019111       289.871833   856.167667
New Hampshire          314.412333       110.578125   727.360000
New Jersey             242.578538       180.194096   690.531429
New Mexico             425.353000        57.674250   188.658667
New York               395.647157       131.608249   612.901442
North Carolina         360.844857        92.080519   511.433706
North Dakota                  NaN       131.415714          NaN
Ohio                   260.205860        67.091237   349.764627
Oklahoma               552.273333       135.968649   454.889286
Oregon                 301.815714        69.361368   215.613185
Pennsylvania           314.839448       101.870886   354.750160
Rhode Island           369.922250       201.122258  1163.823333
South Carolina         513.041667       127.061333   265.270000
South Dakota           162.450000        74.715000   196.470000
Tennessee              300.149600       104.642864   240.364150
Texas                  299.966791        73.659818   363.710749
Utah                   688.907143       104.815436   329.986286
Vermont               2560.050000       368.251667   533.253333
Virginia               486.960577       155.658897   670.698889
Washington             421.229404       137.275370   505.367100
West Virginia          673.344000       178.826667          NaN
Wisconsin              539.269063       114.336604   351.926400
Wyoming               1603.136000              NaN          NaN

### 10.2 Unstack

In [ ]:
df_group = df_group.groupby(['State','Category']).agg({'Sales':'sum','Quantity':'mean'})
df_group

                                   Sales  Quantity
State         Category
Alabama       Furniture         6332.480  4.909091
              Office Supplies   4209.080  4.138889
              Technology        8969.080  3.785714
Arizona       Furniture        13525.291  3.836735
              Office Supplies  10005.825  3.944882
...                                  ...       ...
West Virginia Office Supplies    536.480  5.000000
Wisconsin     Furniture        17256.610  4.500000
              Office Supplies   6059.840  4.056604
              Technology        8798.160  4.160000
Wyoming       Furniture         1603.136  4.000000

[142 rows x 2 columns]

In [ ]:
df_unstack = df_group.unstack(level=1)
df_unstack

                            Sales                              Quantity  \
Category                Furniture Office Supplies  Technology Furniture
State
Alabama                 6332.4800        4209.080    8969.080  4.909091
Arizona                13525.2910       10005.825   11750.885  3.836735
Arkansas                3187.5500        4565.330    3925.250  4.777778
California            156064.6015      142351.948  159271.082  3.819820
Colorado               13243.0370        7898.752   10966.329  3.921569
Connecticut             5174.9870        5418.340    2791.030  3.538462
Delaware                4759.3190        8129.530   14562.220  3.555556
District of Columbia    1346.5800         138.520    1379.920  2.666667
Florida                22987.0380       19518.634   46968.036  3.517647
Georgia                 8321.4800       26715.810   14058.550  3.625000
Idaho                   2595.4820         949.506     837.498  3.000000
Illinois               28274.5220       19907.906   31983.673  3.642276
Indiana                11496.7100       15735.400   26323.250  3.608696
Iowa                    2642.3100         783.150    1154.300  6.000000
Kansas                   111.1200        1954.150     849.040  4.000000
Kentucky               12126.8400       11894.270   12570.640  3.533333
Louisiana               2963.0300        3423.160    2830.840  3.272727
Maine                    109.4800         399.800     761.250  2.000000
Maryland                9149.2530       10390.230    4166.040  3.714286
Massachusetts          10919.0640       11988.740    5726.630  3.212121
Michigan               22321.1000       37723.759   16224.755  3.680000
Minnesota               7611.3500       19406.540    2845.260  4.000000
Mississippi             4317.8500        3631.160    2822.330  4.777778
Missouri                2936.4500       12182.180    7086.520  3.181818
Montana                   63.9800        1862.438    3662.934  7.000000
Nebraska                1944.7000        2234.490    3285.740  5.250000
Nevada                  4635.1720        6956.924    5137.006  4.111111
New Hampshire           1886.4740        1769.250    3636.800  4.500000
New Jersey              6307.0420       14956.110   14501.160  3.269231
New Mexico              1701.4120        1384.182    1697.928  4.750000
New York               93372.7290       90020.042  127483.500  3.716102
North Carolina         15155.4840       14364.561   26083.119  4.142857
North Dakota                  NaN         919.910         NaN       NaN
Ohio                   24199.1450       18382.999   35675.992  3.698925
Oklahoma                8284.1000        5030.840    6368.450  3.800000
Oregon                  6338.1300        5271.464    5821.556  3.285714
Pennsylvania           39354.9310       34941.714   42215.269  3.896000
Rhode Island            5918.7560        6234.790   10474.410  3.312500
South Carolina          3078.2500        3811.840    1591.620  3.666667
South Dakota             324.9000         597.720     392.940  2.500000
Tennessee              13506.7320       12347.858    4807.283  3.666667
Texas                  60593.2918       44490.530   65104.224  3.792079
Utah                    4822.3500        4087.802    2309.904  4.142857
Vermont                 5120.1000        2209.510    1599.760  4.000000
Virginia               25321.9500       21169.610   24145.160  4.480769
Washington             48020.1520       40084.408   50536.710  3.763158
West Virginia            673.3440         536.480         NaN  3.000000
Wisconsin              17256.6100        6059.840    8798.160  4.500000
Wyoming                 1603.1360             NaN         NaN  4.000000


Category             Office Supplies Technology
State
Alabama                     4.138889   3.785714
Arizona                     3.944882   3.604167
Arkansas                    3.750000   4.133333
California                  3.811352   3.913649
Colorado                    3.583333   4.257143
Connecticut                 3.551724   2.636364
Delaware                    4.206897   2.950000
District of Columbia        4.000000   8.000000
Florida                     3.580786   3.768116
Georgia                     3.773913   4.189189
Idaho                       3.090909   3.000000
Illinois                    3.842105   3.595238
Indiana                     4.010309   3.655172
Iowa                        3.409091   3.250000
Kansas                      2.764706   3.800000
Kentucky                    3.720930   4.217391
Louisiana                   3.950000   3.727273
Maine                       4.750000   4.666667
Maryland                    4.317460   3.142857
Massachusetts               3.807229   3.631579
Michigan                    3.849057   3.260870
Minnesota                   3.765625   3.166667
Mississippi                 4.242424   3.454545
Missouri                    3.790698   4.500000
Montana                     3.100000   4.500000
Nebraska                    3.423077   3.250000
Nevada                      4.083333   5.500000
New Hampshire               5.000000   4.000000
New Jersey                  3.409639   4.095238
New Mexico                  3.791667   4.555556
New York                    3.779240   3.663462
North Carolina              4.070513   3.411765
North Dakota                4.285714        NaN
Ohio                        3.762774   3.764706
Oklahoma                    3.324324   4.785714
Oregon                      4.250000   3.962963
Pennsylvania                3.638484   3.512605
Rhode Island                3.580645   3.888889
South Carolina              4.333333   3.333333
South Dakota                3.875000   3.000000
Tennessee                   3.745763   3.700000
Texas                       3.806291   3.681564
Utah                        3.717949   6.428571
Vermont                     4.666667   4.666667
Virginia                    3.794118   4.000000
Washington                  3.773973   3.520000
West Virginia               5.000000        NaN
Wisconsin                   4.056604   4.160000
Wyoming                          NaN        NaN

### 10.3 Stack

In [ ]:
# Stack the prescribed level(s) from columns to index. (menumpuk)
df_stack = df_unstack.stack(level=1)